<h2>List Product</h2>
<!-- <button class="btn btn-success" [routerLink]="['/admin/product/create']" routerLinkActive="router-link-active" >Create</button> -->
<table class="table table-bordered">
    <thead>
      <tr style="text-align:center;">
        <th>#</th>
        <th>Name</th>
        <th>Price</th>
        <th>Sale</th>
        <th>Inventory</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of products | paginate: { itemsPerPage: 3, currentPage: p } let i = index" style="text-align:center;">
        <th>{{i+1}}</th>
        <td>{{item.name}}</td>
        <td>{{item.price | currency: "VND"}}</td>
        <td>{{item.sale}}</td>
        <td>{{item.inventory}}</td>
        <td>
            <button type="button " class="btn btn-danger "  (click)="deleteProduct(item.id)"> <i class="fas fa-trash" aria-hidden="true"></i></button> &nbsp;
            <button type=" button " class="btn btn-warning " [routerLink]="['update', item.id]"><i class="fas fa-pencil-alt" aria-hidden="true"></i></button>&nbsp;
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center ">
    <pagination-controls (pageChange)="p=$event "></pagination-controls>
</div>