<h2>List Category</h2>
<!-- <button class="btn btn-success" [routerLink]="['/admin/category/create']" routerLinkActive="router-link-active" >Create</button> -->
<table class="table  table-bordered" >
    <thead>
      <tr style="text-align:center;">
        <th>STT</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of categories | paginate: { itemsPerPage: 3, currentPage: p } let i = index" style="text-align:center;">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>
            <button type="button " class="btn btn-danger "  (click)="deleteCategory(item.id)"> <i class="fas fa-trash" aria-hidden="true"></i></button> &nbsp;
            <button type=" button " class="btn btn-warning " [routerLink]="['update', item.id]"><i class="fas fa-pencil-alt" aria-hidden="true"></i></button>&nbsp;
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center ">
    <pagination-controls (pageChange)="p=$event "></pagination-controls>
</div>