<h2>Update Product</h2>
<form [formGroup]="productForm" (ngSubmit)="submit()" autocomplete="off">
    <div class="row">
        <div class="form-group mb-3 col-6">
            <div class="row">
                <div class="form-group">
                    <label for="name" class="form-label">Name</label>
                    <input type="email" class="form-control" id="name" formControlName="name" />
                    <div *ngIf="!name.valid && (name.dirty || name.touched)" class="error">
                        <div [hidden]="!name.errors?.['required']">Name is required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="price" class="form-label">Price</label>
                    <input class="form-control" id="price" formControlName="price" type="number" />
                    <div *ngIf="!price.valid && (price.dirty || price.touched)" class="error">
                        <div [hidden]="!price.errors?.['required']">Price is required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="sale" class="form-label">Sale (%)</label>
                    <input class="form-control" id="sale" formControlName="sale" type="number" />
                    <div *ngIf="!sale.valid && (sale.dirty || sale.touched)" class="error">
                        <div [hidden]="!sale.errors?.['required']">Sale is required</div>
                        <div [hidden]="!sale.errors?.['min']">
                            Sale must be greater than 0
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="file">Picture</label>
                            <input formControlName="picture" id="file" type="file" class="form-control" (change)="onFileChange($event)">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="inventory" class="form-label">Inventory</label>
                    <input class="form-control" id="inventory" formControlName="inventory" type="number" />
                    <div *ngIf="!inventory.valid && (inventory.dirty || inventory.touched)" class="error">
                        <div [hidden]="!inventory.errors?.['required']">
                            Inventory is required
                        </div>
                        <div [hidden]="!inventory.errors?.['min']">
                            Inventory must be greater than 0
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="categoryId" class="form-label">Category</label>
                    <select class="form-control" formControlName="categoryId">
                        <option selected value="-1">--- Select category ---</option>
                        <option *ngFor="let item of categories" value="{{ item.id }}">
                            {{ item.name }}
                        </option>
                    </select>
                    <div *ngIf="categoryId.touched && categoryId.errors" class="error">
                        <div [hidden]="!categoryId.errors?.['min']">
                            Category must be selected
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group mb-9 col-6">
            <div class="row">
                <div class="form-group" style="text-align: center">
                    <img *ngIf="url == null" id="default-img" src="assets\img\noimage.png" width="300px "
                        height="300px " alt=" " />
                    <img *ngIf="url != null" [src]="
              sanitizer.bypassSecurityTrustUrl('data:image/png;base64,' + url)
            " width="400px " height="350px " alt=" " />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <ckeditor #editor formControlName="description" [config]="{ extraPlugins: 'divarea' }">
        </ckeditor>
    </div>

    <div class="row mt-3 px-2">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>