<div class="card mt-4" style="width: 18rem;">
    <a [routerLink]="['detail', product.id]" routerLinkActive="router-link-active">
        <img [src]="sanitizer.bypassSecurityTrustUrl('data:image/png;base64,'+product.picture)" class="card-img-top" alt="product_image">
    </a>
    <div class="card-body">
        <a [routerLink]="['/detail', product.id]" routerLinkActive="router-link-active">
            <h5 class="card-title" style="text-decoration: none;">{{product.name}}</h5>
        </a>
        <p class="card-text">{{product.description | slice:0:62}}...</p>
        <span id="new-price">{{product?.price*(100-product?.sale)/100 | currency: "VND"}}</span> &nbsp;&nbsp;
        <span *ngIf="product?.sale!=0" id="old-price">{{product?.price | currency: "VND"}}</span> &nbsp; 
        <img *ngIf="product.sale!=0" src="../../../assets/Sale-icon.png" alt="sale icon" id="sale-icon"><br>
        <button class="btn btn-primary add-to-cart" (click)="addToCart(product)"><i class="fas fa-cart-plus"></i></button>
    </div>
</div>